$primary-color: #34739d;
$secondary-color: #51585f;
$background-color: #f4f8fb;
$highlight-color: #fff200;
$font-family: "Inter", sans-serif;
$border-radius: 8px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;
$breakpoint-md: 1440px;
$breakpoint-sm: 428px;
